.cart{
   padding: 10px;
   margin-top: 10px;
}
.cart .total-time,.cart .break-time{
   background-color: rgb(60, 59, 59);
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
   text-transform: lowercase;
   display: grid;
   padding: 25px 20px;
   color: orange;
   border: 1px solid #fff;
   margin-top: 20px;
   
}

.timing-container, .breakDown-timeing-container{
   display: flex;
   justify-content: space-between; 
   align-items: center;
   
}