.cart{
   padding: 10px;
   text-transform: capitalize;
}
.cart .total-time,.cart .break-time{
   background-color: rgb(60, 59, 59);
   border-radius: 15px;
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   -ms-border-radius: 15px;
   -o-border-radius: 15px;
   text-transform: capitalize;
   display: grid;
   padding: 25px 20px;
   color: orange;
   border: 1px solid #fff;
   margin-top: 20px;   
}

.cart h3{
   margin: 15px 0px;
   text-align: center;
}
.timing-container, .breakDown-timeing-container{
   display: flex;
   justify-content: space-between; 
   align-items: center;
   
}