.activities{
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-gap: 30px;
   margin-top: 20px;
}

@media screen and (min-width: 600px) and (max-width: 992px) {
   .activities{
      grid-template-columns: repeat(3, 1fr);   
     
   }
   

}

@media screen and (min-width: 0px) and (max-width: 599px) {
   .activities{
      display: grid;
      grid-template-columns: repeat(1, 1fr);  
      justify-items: center;
    }
   

}

